*.zip
*.pyc
*.npy
*.npz
*.pickle
*.pt
*.bin
cached_*
.ideas/
.vscode/
__pycache__/
checkpoints/
cache/
outputs/
summaries/
logs/
data/
dataset/
data64/
data128/
test/
fonts/
zh_fonts/
model/
hover_ckpt/
.DS_Store
